{% load static %}

<DOCTYPE html>
<html>
  <head>
    <title>Meal Planner</title>
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  </head>
  <body>
    <div id="header">
      <span class="logo">Meal Planner</span>
      {% if request.user.is_authenticated %}
        <ul class="menu">
          <li {% if section == "dashboard" %}class="selected"{% endif %}>
            <a href="{% url "dashboard" %}">My Dashboard</a>
          </li>
          <li {% if section == "meals" %}class="selected"{% endif %}>
            <a href="{% url "meals" %}">Menu</a>
          </li>
          <li {% if section == "recipes" %}class="selected"{% endif %}>
            <a href="{% url "recipes" %}">Recipes</a>
          </li>
        </ul>
      {% endif %}

      <span class="user">
        {% if request.user.is_authenticated %}
          Hello {{ request.user.first_name }},
          <a href="{% url "logout" %}">Logout</a>
        {% else %}
          <a href="{% url "login" %}">Log-in</a>
        {% endif %}
      </span>
    </div>
    {% block content %}{% endblock %}
    {% if messages %}
      {% for message in messages %}
        {% if "success" in message.tags %}
          <div class="from-right notification is-success" role="log">
            <button class="delete"></button>
            {{ message }}
          </div>
          {% elif "error" in message.tags %}
          <div class="from-right notification is-danger" role="log">
            <button class="delete"></button>
            {{ message }}
          </div>
        {% elif "info" in message.tags %}
          <div class="from-right notification is-info" role="log">
            <button class="delete"></button>
            {{ message }}
          </div>
        {% else %}
          <div class="notification" role="log">
            <button class="delete"></button>
            {{ message }}
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  </body>
</html>