{% extends "base.html" %}

{% block content %}
  <main class="mt-4">
    <div class="container">
      <div class="content">
        <h1 class="title">Schedule meal</h1>
      </div>
      <div class="columns">
        <div role="region" aria-label="Meal list information" class="column is-one-third">
          <p> Schedule a meal using the form to the right</p>
        </div>
        <div role="region" aria-label="Meal scheduling form" class="column is-one-quarter box">
          <form method="post">
            {{ meal_form.as_bulma }}
            {% csrf_token %}
            <div class="controls">
              <button class="button is-primary mt-4">Schedule meal</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
{% endblock %}