{% extends "base.html" %}

{% block content %}
  <main class="mt-4">
    <div class="container">
      <div class="content">
        <h1 class="title">Meals</h1>
      </div>
      <div class="columns">
        <div role="region" aria-label="Meal list information" class="column is-one-quarter">
          <div class="buttons">
            <a class="button is-info" href="{% url "schedule_meal" %}">Schedule Meal</a>
            <a class="button is-info" target="_blank" href="{% url "print_meal" %}">Print Meals</a>
          </div>
          <p>A list of all of the scheduled meals.</p>
          <p>
            <p class="mt-4">Planned Features</p>
            <ul>
              <li> - Ability to see if a meal has been purchased or not</li>
              <li> - Ability to filter meals</li>
            </ul>
          </p>
        </div>
        <div role="region" aria-label="Meal list" class="column is-three-quarters box">
          <table class="table is-striped is-hoverable is-fullwidth">
            <thead>
              <tr>
                <th>
                  Date
                </th>
                <th>
                  Meal
                </th>
                <th>
                  Planned
                </th>
                <th>
                  Actual
                </th>
                <th>

                </th>
              </tr>
            </thead>
            {% for meal in meals %}
              <tr>
                <td>
                  {{ meal.date }}
                </td>
                <td>
                  {{ meal.recipe.name }}
                </td>
                <td>
                  {{ meal.planned }}
                </td>
                <td>
                  {% if meal.actual %}
                    {{ meal.actual }}
                  {% else %}
                    -
                  {% endif %}
                </td>
                <td>
                  <a class="button is-text" href={% url "edit_meal" meal.id %}>
                    Update
                  </a>
                </td>
              </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
