{% extends "base.html" %}

{% block content %}
  <main class="mt-4">
    <div class="container">
      <div class="content">
        <h1 class="title">Recipes</h1>
      </div>
      <div class="columns">
        <div role="region" aria-label="Recipe list information" class="column is-one-quarter">
          <a class="button is-info is-outlined mb-4" href="{% url "create_recipe" %}">New Recipe</a>
          <p>A list of all of the recipes both active and inactive.</p>
          <p>
            {% comment %} Future Features
            <ul class="list">
              <li> - </li>
              <li> - </li>
              <li> - </li>
            </ul> {% endcomment %}
          </p>
        </div>
        <div role="region" aria-label="Recipe list" class="column is-three-quarters box">
          <table class="table is-striped is-hoverable">
            <thead>
              <tr>
                <th> Name</th>
                <th>Ingredient Count</th>
                <th>Status</th>
                <th>Ingredients</th>
                <th></th>
              </tr>
            </thead>
            {% for recipe in recipes %}
              {% with ingredients=recipe.ingredients.all %}
                <tr>
                  <td>{{ recipe.name.title }}</td>
                  <td>{{ ingredients.count }}</td>
                  <td>{% if recipe.is_active %}Active{% else %}Inactive{% endif %}</td>
                  <td>
                    {% for ingredient in ingredients.all %}
                      {% if forloop.last %}
                        {{ ingredient.name }}
                      {% else %}
                        {{ ingredient.name }},
                      {% endif %}
                    {% endfor %}
                  </td>
                  <td>
                    <a class="button is-text" href={% url "update_recipe" recipe.id %}>Edit</a>
                  </td>
                </tr>
              {% endwith %}
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
