{% extends "base.html" %}

{% block content %}
  <h1>Recipes</h1>
  <table>
    <thead>
      <tr>
        <th>
          Name
        </th>
        <th>
          Ingredient Count
        </th>
      </tr>
    </thead>
    {% for recipe in recipes %}
      {% with ingredients=recipe.ingredients.all %}
        <tr>
          <td>
            {{ recipe.name.title }}
          </td>
          <td>
            {{ ingredients.count }}
          </td>
          <td>
            {% for ingredient in ingredients.all %}
              {{ ingredient.name }},
            {% endfor %}
          </td>
        </tr>
      {% endwith %}
    {% endfor %}
  </table>
{% endblock %}
